<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Punten</title>
    <meta name='viewport' content='width=device-width; initial-scale=1'>
    <meta charset="UTF-8">
    <script src='../main.js'></script>
    
    <!-- kok ga keload ya css nya -->
    <!-- <link rel="stylesheet" type="text/css" href="index.css"> -->
    <style>
        .IndexTitle {
            text-align: center;
            display: flex;
            flex-direction: column;
            width: auto;
            font-size: 2rem;
            margin-top: 3rem;
        }
    </style>
  </head>
  <body>
    <div id='app'>
        <div class="index">
            <div class="IndexTitle">Welcome to AksaraJawa Search Query</div>
            <div class="IndexBody">
                <form action="/upload" method="POST" enctype="multipart/form-data">
                    <div>
                        <!-- Belom jadi -->
                    </div>
                </form>
                
            </div>
        </div>
    </div>
  </body>
</html>