body {
    margin: 0;
    text-align: center;
}

#app{
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.IndexTitle {
    display: block;
    width: auto;
    background-color: aqua;
    margin: 2rem;
    font-size: 2rem;
}

h1 {
    color: red;
}
